:root {
    --major-bg-color: rgb(209, 211, 209);
    --major-font-color: rgb(134, 6, 6);
}

body {
    background-color: var(--major-bg-color);
}
h2 {
    color: var(--major-font-color);
    margin-top: 2rem;
}
label {
    color: var(--major-font-color);
}
form {
    margin-top: 2rem;
}


.wrapper {
    height: auto;
    text-align: center;
}
button {
    display: block;
    text-align: center;
    margin: 1rem auto;
    cursor: pointer;
    font-size: larger;
    font-weight: 500;
    border-radius: 5px;
    background-color: none;
    color: var(--major-font-color);
    border-color: var(--major-font-color);
    transition: all 0.5s;

}
button:hover {
    color: black;
    border-color: black;
    background-color: white;
}

footer {
    display: block;
    text-align: center;
    margin: 1rem auto;
}
